body {
    background-image: url(fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  button:hover{
    box-shadow: 0px 3px 4px #3b4c3a;
  }
  #titulo {
    color: #3b4c3ae1;
    text-align: center;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
  }
  h3 {
    color: #3b4c3ae1;
  }
  .btn{
    background-color: #3b4c3aea;
    color: white;
    border: 1px solid white;
  }
  button[type="button"].btn:hover{
    background-color: white;
    color: #3b4c3aea;
    border: 1px solid #3b4c3aea;
  }
  
  .botones {
    margin-bottom: 15px;
    background-color: transparent;
    background-color: #3b4c3ae1;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
  }
  /*añadir*/
  #pantallaAñadir {
    display: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  #columnaAñadir {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  form {
    color: white;
  }
  h2 {
    color: #3b4c3a;
    font-size: 30px;
    
    text-shadow:0px 1px 3px white;
  }
  /*visualizar*/
  #pantallaVisualizar {
    display: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  
  #columnaVisualizar {
    padding: 20px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .table {
    font-size: 18px;
    background-color: #3b4c3ad2;
    color: white;
    width: 60%;
    text-align: center;
    border-radius: 5px;
  }
  .mostrando{
    color: #3b4c3a;
    text-shadow:0px 1px 3px white;
  }
  tr.headTabla{
    background-color: #3b4c3ae8;
  }
  .table tr:hover {
    background-color: #3b4c3ae8;
  }

  /*eliminar*/
  #pantallaEliminar{
    display: none;

  }
  #pantallaEliminar select{
    background-color: #3b4c3a;
    color: white;
    padding: 5px;
    
  }
  #pantallaEliminar button{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #3b4c3a;
    color: white;
    padding: 7px;
    
  }
  #columnaEliminar {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  /*modificar*/
  #pantallaModificar{
    display: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;

  }
  #pantallaModificar select{
    background-color: #3b4c3a;
    color: white;
    padding: 5px;
    
  }
  #pantallaModificar button{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #3b4c3a;
    color: white;
    padding: 7px;
    
  }
  #columnaModificar {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #TablaModificar input{
    margin: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px;
    color: white;
    padding-left: 5px;
  }
  #TablaModificar input:hover{
    background-color: #3b4c3a;
  }
  #TablaModificar input:focus{
    background-color: #3b4c3a;
  }
  #TablaModificar{
    font-size: 18px;
    color: white;
    text-align: center;
    width: 60%;
    background-color: #3b4c3ad2;
  }
  .headTablaMod{
    background-color: #3b4c3a;
  }
  .tituloModificar{
    padding: 5px;
  }
