body{
    background-color: cadetblue;
}
#titulo{
    color: white;
    text-align: center;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
}
h3{
    color: springgreen;
}

.botones{
    margin-bottom: 10px;
    background-color: cadetblue ;
    border: 1px solid springgreen;
    color: white;
}